/* .nav {
  background-color: #333;
  overflow: hidden;
}
.nav a {
  float: left;
  color: #f2f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
  text-align: center;
  font-size: 18px;
}
.nav a:hover {
  color: #333;
  background-color: #ddd;
} */
a {
    text-decoration: none;
  }
  .navbar-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navbar-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .nav-light {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar {
    min-height: 70px;
    z-index: 1000;
  }
  
  .navbar-float {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 95, 136, 0.15);
    z-index: 1070;
  }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-lg .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-lg .navbar-nav {
      align-items: center;
    }
  }
  .navbar-brand {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .text-primary {
    color: #6c55f9 !important;
  }
  .navbar-nav {
    margin-top: 10px;
    border-top: 1px solid #e4e7ee;
    flex-shrink: 0;
  }
  
  .nav-link {
    transition: all 0.2s ease;
  }
  
  .navbar-nav .btn {
    font-size: 14px;
  }
  
  .nav-link {
    color: rgba(100, 95, 136, 0.75);
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #645f88;
  }
  
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #6c55f9;
  }
  
  @media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-sm .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-md .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-lg .navbar-nav {
      align-items: center;
    }
  }
  
  @media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav {
      margin-top: 0;
      border-top: none;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
      padding-right: 16px;
      padding-left: 16px;
    }
    .navbar-expand-xl .navbar-nav {
      align-items: center;
    }
  }
  .btn {
    padding: 8px 24px;
    cursor: pointer;
  }
  .btn-outline {
    border: 1px solid;
    border-color: #d7d5e9;
    color: #645f88;
  }
  .rounded-pill {
    border-radius: 50rem !important;
  }